body{
    background: teal;
}
h1+p{
    color: red;
    text-align: center;
    text-underline-position: under;
}
#Derek{
    color:aquamarine;
    text-align: center;
}
h2{
    text-underline-position: under;
}
h3{
    font-size: small;
    margin: left;
}